{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
    <div>
        {{ form_start(our_form) }}
        {{ form_widget(our_form) }}
        <input type="submit" value="Send" />
        {{ form_end(our_form) }}
    </div>
{% endblock %}
